* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-color: #fff;
    color: #050438;
    padding: 20px;
    
}
.invitacion {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    position: relative; /* Para manejar el contenido dentro */
    border: 1px solid #ccc;
    border-radius: 10px;
 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.invitacion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Fondo.png');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita repeticiones */
    background-position: center; /* Centra la imagen dentro del contenedor */
    z-index: -1; /* Envía el fondo detrás del contenido */
}
header .versiculo {
    
    font-size: 25px;
    margin-top: 180px;
    margin-bottom: 75px;
    font-optical-sizing: auto;
    line-height: 0.8;
    font-family: "Gwendolyn", serif;
    font-weight: 700;
    font-style: normal;
  
    
}
.adorno {
    font-size: 32px;
   
    font-family: 'Dancing Script', cursive;
    position: absolute; /* Cambiado a absolute para que se posicione correctamente con left */
    text-align: center; /* Asegura que el ampersand quede centrado */
    
    left: 45%; /* Mantiene la posición a la izquierda al 45% */
    transform: translateX(-50%); /* Ajuste para centrar el h2 desde el 45% */
    top: -20%; /* Centra verticalmente entre los nombres */
    color: #f57c00;
    animation: zoomIn 2.5s infinite alternate ease-in-out;
}

@keyframes zoomIn {
    0% { transform: translateX(0%) scale(1); opacity: 1; }
    100% { transform: translateX(0%) scale(1.2); opacity: 1; }
}


h1 {
    font-size: 85px;
    font-family: "Lavishly Yours", serif;
    
    font-weight: 400;
    font-style: normal;
}
h1 .nombre {
    color: #050438;
}
h1 span {
    color: #f57c00;
}

.nombres {
    position: relative; /* Contenedor relativo para posicionar hijos */
    height: 150px; /* Altura suficiente para que quepan los nombres y el ampersand */
    text-align: center; /* Asegura que el ampersand quede centrado */
    line-height: 0.2; /* Controla el espacio vertical */
    margin-top: 1px;
    margin-bottom: 70px;
}
.nombre {
    position: absolute; /* Posicionamos los nombres de forma independiente */
    font-size: 7.5rem;
    color:#050438;
    transform: translateX(-50%); /* Ajusta al centro horizontal del contenedor */
}
.nombre-arriba {
    top: 0; /* Posición cerca del inicio del contenedor */
    left: 45%; /* Centro horizontal de la pantalla */
    transform: translate(-60%, 0); /* Desplaza un poco hacia la izquierda */
}
.nombre-abajo {
    bottom: 0; /* Posición cerca del final del contenedor */
    left: 45%; /* Centro horizontal de la pantalla */
    transform: translate(-40%, 0); /* Desplaza un poco hacia la derecha */
}
.ampersand {
    position: absolute;
    font-size: 4rem;
    color: #f57c00;
    top: 48%; /* Centra verticalmente entre los nombres */
    left: 45%; /* Centro horizontal del contenedor */
    transform: translate(-50%, -50%); /* Asegura que el ampersand esté justo al centro */
}
.mensaje {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    line-height: 1; /* Controla el espacio vertical */
    margin-bottom: 20px;
}
.fecha {
    display: flex;
    justify-content: center; /* Centra todo horizontalmente */
    align-items: center; /* Alinea los elementos por su parte inferior */
    gap: 1rem; /* Espaciado entre los elementos */
    margin:-0.5rem 0;
}

.fecha .mes {
    font-size: 2rem;
    color: #050438;
    text-transform: capitalize;
    font-family: 'Great Vibes', cursive;
    position: relative;
    text-align: center;
}

.fecha .año {
    font-size: 2rem;
    color: #050438;
    text-transform: capitalize;
    font-family: "Dancing Script", serif;
    position: relative;
    text-align: center;
}

/* Líneas decorativas en el mes y el año */
.fecha .mes::before, .fecha .mes::after,
.fecha .año::before, .fecha .año::after {
    content: "";
    position: absolute;
    width: 90px; /* Longitud de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #d35400; /* Color de la línea */
    left: 50%;
    transform: translateX(-50%);
}

.fecha .mes::before, .fecha .año::before {
    top: -5px; /* Línea superior */
}

.fecha .mes::after, .fecha .año::after {
    bottom: -5px; /* Línea inferior */
}

.fecha .dia {
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column; /* Coloca "Sábado" sobre el número */
    align-items: center; /* Centra "Sábado" y el número horizontalmente */
    font-size: 4rem;
    font-weight: bold;
    color: #f57c00;
}

.fecha .dia-semana {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem; /* Tamaño más pequeño para "Sábado" */
    color: #050438; /* Texto en negro */
    font-weight: normal;
    margin-bottom: -0.5rem; /* Ajusta la separación entre "Sábado" y el número */
}

.pin {
    width: 16px;
    height: 16px;
    background: #f57c00;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    display: inline-block;
    position: relative;
    margin-left: 10px;
    animation: bounce 0.5s infinite alternate ease-in-out;
    /*animation: flip 1.5s infinite alternate ease-in-out;*/
    /*animation: flipInX 1s infinite alternate ease-out;*/

}

/* Efecto de sombra simulando el punto del pin */
.pin::after {
    content: "";
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color{
    position: absolute; 
    transform: translate(12%, 2%);
}

/* Animación de rebote */
@keyframes bounce {
    0% { transform: translateY(1px) rotate(-45deg); }
    100% { transform: translateY(-6px) rotate(-45deg); }
}
@keyframes flipInX {
    0% { transform: rotateX(-180deg); opacity: 0; }
    100% { transform: rotateX(0); opacity: 1; }
}
@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.info-extra {
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}


.nota{
    line-height: 1; 
    font-size: 14px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.Invita{
    line-height: 1; 
    font-size: 18px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: bold;
    
}

.confirm-link {
    color: #f57c00;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    font-family: "Lavishly Yours", serif;
}

.confirm-container {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 0.8; /* Controla el espacio vertical */
    

}


.confirm-text {
    display: block;
    position: relative;
    z-index: 1; /* Asegura que el texto quede sobre las imágenes */
    padding: 5px 0; /* Ajusta el espaciado del texto */
}

.f {
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 25px;
    font-family: "Cinzel", serif;
}


a {
    text-decoration: none;
}

.logos{
    margin-top: 10px;
}

.informacion{
    display: grid;
    gap: 2px;
    
}

.Lugares {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    color: #050438;
    cursor: pointer;
}

.direc{
    font-size: 24px;
}
.horas {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color: #050438;
}
.subtitulo{
    font-family: "Cinzel", serif;

}

.etiqueta {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: auto auto; /* Tres filas: las dos primeras con altura automática y la última ocupando todo el espacio disponible */
    gap: 15px; /* Opcional, para separación entre elementos */
    row-gap: 0.1px;
    width: 80%;
    margin: 0px auto;

}




.tiempo {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas */
    grid-template-rows: auto auto; /* Tres filas: las dos primeras con altura automática y la última ocupando todo el espacio disponible */
    row-gap: -5px; /* Opcional, para separación entre elementos */
    width: 70%;
    margin: 0px auto;
    text-align: center;
    font-family: "Dancing Script", serif;
    font-size: 2rem;
    color: #d35400;
    margin-bottom: 220px;

}

.extra{
    font-size: 1.5rem;
}

.vestimenta{
    /*
    font-family: 'Great Vibes', cursive;
   font-family: "Gwendolyn", serif;font-family: 'Dancing Script', cursive;
    
    */
font-family: "Cinzel", serif;
font-size: 14px;
}
.pare, .reservado{
    color: #d35400;
}

.invitados, .cupos{
    font-size: 27px;
}

